<a href="https://colab.research.google.com/github/mainackdasgupta/ML-Basics/blob/main/Pandasbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import io
uploaded = files.upload()

Saving Book1.csv to Book1 (1).csv

In [ ]:
df = pd.read_csv('Book1.csv')
print(df)

          day  temperature  windspeed  event
0  01-01-2017           32          6   rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny

In [ ]:
print(df.head(2))
print(columns)
print(df.shape)
print(columns)
print(df.tail(2))
print(df[2:5])
print(df.day)
print(df.temperature.max())
print(df.temperature.std())
print(df.describe())

          day  temperature  windspeed  event
0  01-01-2017           32          6   rain
1  01-02-2017           35          7  sunny
4
(6, 4)
4
          day  temperature  windspeed  event
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny
          day  temperature  windspeed event
2  01-03-2017           28          2  snow
3  01-04-2017           24          7  snow
4  01-05-2017           32          4  rain
0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object
35
3.8858718455450894
       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
# for rows 
print(df[df.temperature>=32])
print(df[df.temperature==df.temperature.max()])
print(df[['day','temperature']][df.temperature==df.temperature.max()])

          day  temperature  windspeed  event
0  01-01-2017           32          6   rain
1  01-02-2017           35          7  sunny
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny
          day  temperature  windspeed  event
1  01-02-2017           35          7  sunny
          day  temperature
1  01-02-2017           35

CSV And EXCEL read write operations

NameError: ignored

 **Handle Missing Data: fillna, dropna, interpolate**

In [ ]:
import pandas as pd
from google.colab import files
import io
uploaded = files.upload()

Saving weather1_data.csv to weather1_data.csv

In [ ]:
df = pd.read_csv('weather1_data.csv')
print(df)

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

NameError: ignored

In [ ]:
new_df = df.fillna(3)
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          3.0        9.0   Sunny
2  01-05-2017         28.0        3.0    Snow
3  01-06-2017          3.0        7.0       3
4  01-07-2017         32.0        3.0    Rain
5  01-08-2017          3.0        3.0   Sunny
6  01-09-2017          3.0        3.0       3
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'No Event'
    })
new_df

          day  temperature  windspeed     event
0  01-01-2017         32.0        6.0      Rain
1  01-04-2017          0.0        9.0     Sunny
2  01-05-2017         28.0        0.0      Snow
3  01-06-2017          0.0        7.0  No Event
4  01-07-2017         32.0        0.0      Rain
5  01-08-2017          0.0        0.0     Sunny
6  01-09-2017          0.0        0.0  No Event
7  01-10-2017         34.0        8.0    Cloudy
8  01-11-2017         40.0       12.0     Sunny

In [ ]:
df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.fillna(method="ffill")
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017         32.0        9.0   Sunny
2  01-05-2017         28.0        9.0    Snow
3  01-06-2017         28.0        7.0    Snow
4  01-07-2017         32.0        7.0    Rain
5  01-08-2017         32.0        7.0   Sunny
6  01-09-2017         32.0        7.0   Sunny
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.fillna(method="bfill")
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017         28.0        9.0   Sunny
2  01-05-2017         28.0        7.0    Snow
3  01-06-2017         32.0        7.0    Rain
4  01-07-2017         32.0        8.0    Rain
5  01-08-2017         34.0        8.0   Sunny
6  01-09-2017         34.0        8.0  Cloudy
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.fillna(method="bfill", axis="columns") # axis is either "index" or "columns"
new_df

          day temperature windspeed   event
0  01-01-2017          32         6    Rain
1  01-04-2017           9         9   Sunny
2  01-05-2017          28      Snow    Snow
3  01-06-2017           7         7     NaN
4  01-07-2017          32      Rain    Rain
5  01-08-2017       Sunny     Sunny   Sunny
6  01-09-2017         NaN       NaN     NaN
7  01-10-2017          34         8  Cloudy
8  01-11-2017          40        12   Sunny

In [ ]:
new_df = df.fillna(method="ffill",limit=1)
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017         32.0        9.0   Sunny
2  01-05-2017         28.0        9.0    Snow
3  01-06-2017         28.0        7.0    Snow
4  01-07-2017         32.0        7.0    Rain
5  01-08-2017         32.0        NaN   Sunny
6  01-09-2017          NaN        NaN   Sunny
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.interpolate()
new_df

          day  temperature  windspeed   event
0  01-01-2017    32.000000       6.00    Rain
1  01-04-2017    30.000000       9.00   Sunny
2  01-05-2017    28.000000       8.00    Snow
3  01-06-2017    30.000000       7.00     NaN
4  01-07-2017    32.000000       7.25    Rain
5  01-08-2017    32.666667       7.50   Sunny
6  01-09-2017    33.333333       7.75     NaN
7  01-10-2017    34.000000       8.00  Cloudy
8  01-11-2017    40.000000      12.00   Sunny

In [ ]:
new_df = df.interpolate(method="time") 
new_df

ValueError: ignored

In [ ]:
new_df = df.dropna()
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.dropna(how='all')
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
new_df = df.dropna(thresh=1)
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)

            day  temperature  windspeed event
2017-01-01  NaN          NaN        NaN   NaN
2017-01-02  NaN          NaN        NaN   NaN
2017-01-03  NaN          NaN        NaN   NaN
2017-01-04  NaN          NaN        NaN   NaN
2017-01-05  NaN          NaN        NaN   NaN
2017-01-06  NaN          NaN        NaN   NaN
2017-01-07  NaN          NaN        NaN   NaN
2017-01-08  NaN          NaN        NaN   NaN
2017-01-09  NaN          NaN        NaN   NaN
2017-01-10  NaN          NaN        NaN   NaN
2017-01-11  NaN          NaN        NaN   NaN

In [ ]:
new_df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [ ]:
df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny